{{ range .Site.Menus.main.ByWeight }}
  <a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}
<a href='{{ absURL "index.xml" }}'>RSS</a>

<!-- Convert this page's translations into a dict -->
{{ $translations := dict }}
{{ range .Translations }}
  {{ $translations = merge $translations (dict .Language.Lang .) }}
{{ end }}

<!-- Create a link to every translation -->
{{ with .Rotate "language" }}
      {{ range . }}
        {{ if eq .Site.Language $.Site.Language }}
          <a aria-current="page" href="{{ .Permalink }}">{{ .Site.Language.Label }}</a>
        {{ else }}
          <a href="{{ .Permalink }}">{{ .Site.Language.Label }}</a>
        {{ end }}
      {{ end }}
{{ end }}
